@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.arimo-one-regular {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
#search_btn{
    cursor: pointer;
}

img{
    width: 100%;
}
body{
    background-repeat: no-repeat;
    background-color: #242424;
}
.container{
    max-width: 1920px;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 120px
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    align-items: center;
    padding: 24px 72px;
}
#merc-logo{
    font-size: 72px;
    cursor: pointer;
    color: white;
    
}
#map-icon{
    font-size: 24px;
    cursor: pointer;
    color: white;
    position: absolute;
    left: 1823px;
    top: 48px;
}
#phone-icon{
    font-size: 27px;
    cursor: pointer;
    color: white;
    position: absolute;
    left: 1770px;
    top: 46px;
}
@keyframes Opacity{
    0%{
        opacyti: 90%;
    }
    50%{
        opacity: 40%;
    }
    100%{
        opacyti: 90%;
    }
}
.header .nav .search-icon{
    font-size: 24px;
    cursor: pointer;
    color: white;
    position: absolute;
    left: 1718px;
    pointer-events: fill;
    transition: all 0.5s ease-in-out;
    top: 49px;
}
.header.close-searh-icon .search-icon{
    opacity: 0;
    pointer-events: none;
}
.header .nav .close-icon{
    position: absolute;
    font-size: 36px;
    right: 157px;
    cursor: pointer;
    color: white;
    opacity: 0;
    top: 42px;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}
.header.close-close-icon .close-icon{
    opacity: 1;
    pointer-events: fill;
}
#search-icon2{
    position: absolute;
    right: 310px;
    top: 48px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}
.navbar{
    font-family: "Russo One", sans-serif;
    display: flex;
    column-gap: 48px;
    list-style-type: none;
    justify-content: flex-start;
    padding-left: 72px;
    justify-content: space-between;
}
.navbar a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    position: absolute;
}

.header .search-form{
    position: absolute;
    top: 48px;
    right: 250px;
    height: 24px;
    width: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}
.header.openSearch .search-form{
    width: 163.5px; 
    opacity: 1;
    pointer-events: auto;
}

.header .search{
    position: absolute;
    display: flex;
    font-size: 24px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;

    border-radius: 5px;
    padding: 0 15px 0 30px;
}
.about_bg{
    position: absolute;
    width: 1416px;
    height: 1080px;
    top: -0.5px;
    right: 0px;
    z-index: 150;
}
.about_left{
    position: absolute;
    width: 504px;
    height: 1080px;
    top: -0.5px;
    left: 0px;
    z-index: 150;
}
.stories_img{
    position: absolute;
    top: 288px;
    left: 144px;
    width: 306px;
    height: 24px;
    z-index: 150;
    cursor: pointer;
}
.news_img{
    position: absolute;
    top: 216px;
    left: 144px;
    width: 306px;
    height: 24px;
    z-index: 150;
    cursor: pointer;
}
#closeAbout{
    z-index: 150;
    position: absolute;
    font-size: 48px;
    color: white;
    top: 120px;
    left: 24px;
    cursor: pointer;
}
.about{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}
.header.openAbout .about{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease-in-out;
    z-index: 150;
}
.header.openAbout #merc-logo{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease-in-out;
    z-index: 160;
    font-size: 64px;
    top: 24px;
    transform: translate(-57px,0px);
    -webkit-transform: translate(-57px,0px);
    -o-transform: translate(-57px,0px);
    -moz-transform: translate(-57px,0px);
    position: absolute;
}
.about_btn{
    display: block;
    left: 400px;
    top: 48px;
}
.catalog_btn{
    display: block;
    left: 230px;
    top: 48px;
}
.toContacts{
    left: 600px;
    top: 48px;
    cursor: pointer;
}
.all_img{
    position: absolute;
    cursor: pointer;
    top: 216px;
    left: 144px;
    width: 306px;
    height: 28px;
    z-index: 150;
}
.sedan_img{
    position: absolute;
    cursor: pointer;
    top: 288px;
    left: 144px;
    width: 306px;
    height: 29px;
    z-index: 150;
}
.cupe_img{
    position: absolute;
    cursor: pointer;
    top: 360px;
    left: 144px;
    width: 306px;
    height: 24px;
    z-index: 150;
}
.vnedor_img{
    position: absolute;
    cursor: pointer;
    top: 432px;
    left: 144px;
    width: 306px;
    height: 27px;
    z-index: 150;
}
.catalog_menu{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}
.header.openCatalog .catalog_menu{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease-in-out;
    z-index: 250;
}
.catalog_bg{
    position: absolute;
    width: 1416px;
    height: 1080px;
    top: -0.5px;
    right: 0px;
    z-index: 120;
}
.header.openCatalog #merc-logo{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease-in-out;
    z-index: 260;
    font-size: 64px;
    top: 24px;
    transform: translate(-57px,0px);
    -webkit-transform: translate(-57px,0px);
    -o-transform: translate(-57px,0px);
    -moz-transform: translate(-57px,0px);
    position: absolute;
}
.catalog_right{
    position: absolute;
    width: 408px;
    height: 1080px;
    top: -0.5px;
    left: 487px;
}
.sedan_e_img{
    position: absolute;
    top: 288px;
    left: 555px;
    width: 306px;
    height: 27px;
    z-index: 270;
    cursor: pointer;
}
.sedan_s_img{
    position: absolute;
    top: 216px;
    left: 555px;
    width: 306px;
    height: 27px;
    z-index: 270;
    cursor: pointer;
}
.sedan_menu{
    position: absolute;
    left: -391px;
    top: -0.5px;
    z-index: 140;
}
.cupe_menu{
    position: absolute;
    left: -391px;
    top: -0.5px;
    z-index: 140;
}
.vnedor_menu{
    position: absolute;
    left: -391px;
    top: -0.5px;
    z-index: 140;
}
.vned_g_img{
    position: absolute;
    top: 285px;
    left: 555px;
    width: 303px;
    height: 72px;
    z-index: 270;
    cursor: pointer;
}

.header.open_sedan .sedan_menu{
    left: 0px;
    transition: all 1s ease-in-out;
}
.header.open_cupe .cupe_menu{
    left: 0px;
    transition: all 1s ease-in-out;
}
.header.open_vn .vnedor_menu{
    left: 0px;
    transition: all 1s ease-in-out;
}
.new_logo{
    position: absolute;
    color: white;
    font-family: "Arimo", sans-serif;
    font-size: 40px;
    top: 135px;
    left: 860px;
}
.reklama{
    position: absolute;
    width: 216px;
    height: 768px;
    left: 72px;
    top: 264px;
}
.news1{
    position: absolute;
    width: 720px;
    height: 480px;
    left: 384px;
    top: 264px;
}
.news2{
    position: absolute;
    width: 384px;
    height: 480px;
    left: 1152px;
    top: 264px;
}
.reklama2{
    position: absolute;
    width: 216px;
    height: 768px;
    left: 1632px;
    top: 264px;
}
.cars{
    position: absolute;
    width: 1152px;
    height: 144px;
    left: 384px;
    top: 792px;
}
.news_text{
    position: absolute;
    color: white;
    font-family: "Russo One", sans-serif;
    font-size: 20px;
    top: 936px;
    left: 386px;
    TEXT-TRANSFORM: UPPERCASE;
}
.footer{
    display: block;
    width: 100%;
    height: 144px;
    position: absolute;
    left: 0;
    top: 1080px;
}
.wrapper.openAbout .footer{
    display: none;
    transition: all 0.5s ease-in-out;
}
.st_bg{
    position: absolute;
    width: 1903px;
    height: 384px;
    left: 0px;
    top: 0px;
    z-index: 0;
}
.mers{
    position: absolute;
    color: white;
    TEXT-TRANSFORM: UPPERCASE;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    left: 870px;
    top: 410px;
}
.mers_2{
    position: absolute;
    color: white;
    TEXT-TRANSFORM: UPPERCASE;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
    left: 569px;
    top: 436px;
    text-align: center;
    line-height: 25px;
}
.st_img{
    position: absolute;
    width: 336px;
    height: 192px;
}
.msg{
    position: absolute;
    width: 336px;
    height: 192px;
    color: white;
    font-family: "Russo One", sans-serif;
    TEXT-TRANSFORM: UPPERCASE;
    font-size: 20px;
    top: 195px;
}
.txt{
    position: absolute;
    width: 336px;
    height: 192px;
    color: white;
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    text-align: justify;
}
.first{
    position: absolute;
    top: 600px;
    left: 72px;
}
.second{
    position: absolute;
    top: 600px;
    left: 432px;
}
.txt_img{
    position: absolute;
    width: 336px;
    top: 270px;
}
.three{
    position: absolute;
    top: 600px;
    left: 792px;
}
.four{
    position: absolute;
    top: 600px;
    left: 1152px;
}
.five{
    position: absolute;
    top: 600px;
    left: 1512px;
}
header.show_head{
    background-image: url(img/heeead.png);
}
.blur_img{
    position: absolute;
    z-index: 200;
    backdrop-filter: blur(10px);
    left: -0.5px;
    top: 0px;
    height: 1080.5px;
}
.form_img{
    position: absolute;
    left: 576px;
    top: 312px;
    width: 768px;
    height: 456px;
    z-index: 201;
}
.btn_img{
    position: absolute;
    left: 864px;
    top: 672px;
    width: 192px;
    height: 48px;
    z-index: 202;
    cursor: pointer;
}
.close-icon-call{
    z-index: 202;
    position: absolute;
    font-size: 24px;
    color: #5F5F5F;
    top: 336px;
    left: 1296px;
    cursor: pointer;
}
.name{
    position: absolute;
    z-index: 205;
    background-color: #E2E2E2;
    top: 552px;
    left: 648px;
    height: 48px;
    width: 264px;
    border-radius: 8px;
}
.phone{
    position: absolute;
    z-index: 205;
    background-color: #E2E2E2;
    top: 552px;
    left: 1008px;
    height: 48px;
    width: 264px;
    border-radius: 8px;
}
#nameBox{
    position: absolute;
    z-index: 306;
    background: transparent;
    border: none;
    top: 552px;
    left: 660px;
    height: 48px;
    width: 240px;
    font-size: 20px;
    outline:none;
}
#phoneBox{
    position: absolute;
    z-index: 306;
    background: transparent;
    border: none;
    top: 552px;
    left: 1020px;
    height: 48px;
    width: 240px;
    font-size: 20px;
    outline:none;
}
.call{
    display: none;
    opacity: 1;
}
header.openCall .call{
    display: block;
    opacity: 1;
}
#map{
    width: 100%;
    height: 100%;
}
.map{
    height: 1076.9px;
    width: 100%;
    top: -0.5px;
    left: -0.5px;
    position: absolute;
    margin: 0;
}
.header_map{
    position: absolute;
    z-index: -1;
}